<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>
<body>

<div th:replace="Share/Navbar"></div>

<!--form in the right-->

<div class="card" style="width: 18rem; float: right; margin-right: 100px; margin-top: 10px;">

    <img class="card-img-top" src="https://www.redditstatic.com/desktop2x/img/id-cards/home-banner@2x.png" alt="Card image cap">

        <p class="card-text" style="color: gray; margin-bottom: 0px;">Welcome to Spring Reddit clone Home page Come here to check in with your favorite subreddit</p>
    <a th:href="@{/post/create}" style="margin:10px;"><button type="button" class="btn btn-primary" style="width: 265px;">CREATE POST</button></a>
    <a th:href="@{/subreddit/create}" style="margin:0 auto 30px auto;"><button type="button" class="btn btn-outline-primary" style="width: 265px;">CREATE SUBREDDIT</button></a>
    <!--form subreddit-->
    <div class="card" style="width: 18rem;">
        <div class="card-header" style="font-weight: bold">
            Browe Subreddits
        </div>
        <ul class="list-group list-group-flush" th:each=" subred:${sub}" th:object="${subred}">
        <a th:href="@{/subreddit/view/{id}(id=*{id})}"><li th:text="*{title}" style="list-style: none; margin:10px;"></li></a>
        </ul>
       <a href=""> <p style="text-align: center; margin:30px;">View All</p></a>
    </div>

</div>

<!--Display post-->
<div style="margin-top: 12px; margin-left: 70px; width: 850px; border: 1px solid darkgray; display: flex; flex-direction: row; justify-content: space-between" th:each=" post: ${pst}" th:object="${post}">
<!--  up and down vote   -->
    <div style="width:20px;  display: flex; flex-direction: column; " >

            <h3><i onclick="increase()" class="bi bi-arrow-up-short"></i></h3>

        <input id="inc" name="value" value="0" style="border: none;margin-left: 5px; width: 100%;"/>

            <h3><i onclick="decrease()" class="bi bi-arrow-down-short"></i></h3>

        <script>
            var i = 0;
            function increase() {
                document.getElementById('inc').value = ++i;
            }
            function decrease() {
                document.getElementById('inc').value = --i;
            }
        </script>
    </div>
<!-- post infomation   -->
    <div style="width: 95%;">
        <div>
       <span style="margin-left: 3px; color:gray;">1 hour ago</span>
        </div>
        <hr>
        <div class="card-body">
            <a th:href="@{/post/view/{id}(id=*{id})}"  class="card-title" style="color: black"><h4 th:text="*{title}">Title</h4></a>
            <p class="card-text" th:text="*{description}"></p>
            <img th:if="*{images}" th:src="'/photo/'+*{images}" style="width: 200px;" />
            <img th:unless="*{images} "/>
        </div>
        <div class="card-footer bg-transparent" style="margin-top: 20px; display: flex; flex-direction: row">
            <p style="margin-top:5px;">Comment (<span>0</span>)</p>
            <a th:href="@{/post/view/{id}(id=*{id})}"><button type="button" class="btn btn-primary" style="margin-left: 10px; height: 38px; ">Read Post</button></a>
            <a th:href="@{/post/update/{id}(id=*{id})}"><button type="button" class="btn btn-warning" style="margin-left: 10px; height: 38px; ">Update Post</button></a>
            <a th:href="@{/post/delete/{id}(id=*{id})}"><button type="button" class="btn btn-danger" style="margin-left: 10px; height: 38px; ">Delete Post</button></a>
        </div>

    </div>
</div>
</body>
</html>