<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
<div th:replace="Share/Navbar"></div>
<div class="card mb-3 container" style="margin-top:10px;">
    <h3 class="card-header bg-transparent" style="color: black;">Create Post</h3>
    <form action="/post/update" method="post" th:object="${update}" enctype="multipart/form-data">
        <div class="card-body">
            <div>
                <input name="id" th:field="*{id}" style="display: none"/>
                <input name="title"  th:field="*{title}" type="text" class="form-control"  placeholder="Title">
            </div>
            <div class="mb-3 mt-3">
                <textarea name="description" th:field="*{description}" class="form-control"  rows="3" placeholder="Description"></textarea>
            </div>
            <div class="mb-3" >
                <select class="form-select" aria-label="Default select example">
                    <option selected >Select Subreddit</option>
                    <option th:each="sub:${subred}" th:object="${sub}" th:text="*{title}"  value="*{title}" name="sub"></option>
                                    <option value="3">Three</option>
                </select>
            </div>
            <input name="images" th:field="*{images}" style="display: none"/>
            <div class="mb-3">
                <input type="file" name="file" class="form-control">
            </div>
        </div>
        <div class="card-footer bg-transparent">
            <button type="submit" class="btn btn-outline-primary">DISCARD</button>
            <button type="submit" class="btn btn-primary">POST</button>
        </div>
    </form>
</div>
</body>
</html>