<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>
<body>
<div th:replace="Share/Navbar"></div>


<div class="container" style="margin-top: 12px; margin-left: 70px; width: 850px; border: 1px solid darkgray; display: flex; flex-direction: row; justify-content: space-between; flex-wrap: wrap" th:object="${postid}">
    <!--  up and down vote   -->
    <div style="width:20px;  display: flex; flex-direction: column; ">
        <h3><i class="bi bi-arrow-up-short"></i></h3>
        <p style="margin-left: 10px;">0</p>
        <h3><i class="bi bi-arrow-down-short"></i></h3>
    </div>

    <!-- post infomation   -->
    <div style="width: 95%;">
        <div>
            <a href="view.html" style="color: #000000;">title</a> <span style="margin-left: 3px; color:gray;">1 hour ago</span>
        </div>
        <hr>
        <div class="card-body">
            <h4><a href="view.html" class="card-title" style="color: black" th:text="*{title}"></a></h4>
            <p class="card-text" th:text="*{description}"></p>
            <img th:if="*{images}" th:src="'/photo/'+*{images}" style="width: 200px;" />
            <img th:unless="*{images} "/>
        </div>

<!--   comment part    -->
        <form action="/post/view" method="post">
        <h5>Comment</h5>
            <div style="margin-left: 30px;">
                <p>cool bruh!</p>
                <div style="display: flex; flex-direction: row; margin-bottom: 5px;">
                    <h4><i class="bi bi-arrow-up-short"></i></h4>
                    <p style="margin-left: 10px;">0</p>
                    <h4 style="margin-left: 7px;"><i class="bi bi-arrow-down-short"></i></h4>
                </div>
            </div>

        <hr>
        <div style="display: flex; flex-direction: row; margin:10px;">
            <input type="text" name="cmt" class="form-control"  placeholder="Comment here..." style="width: 140px;">
            <button type="button" class="btn btn-primary" style="margin-left: 10px; height: 38px; ">Comment</button>
        </div>
        </form>
            </div>



    </div>


</body>
</html>