
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/" style="margin-left: 200px; color:blue; font-weight: bold"><img src="https://logodownload.org/wp-content/uploads/2018/02/reddit-logo-16.png" width="4%;"><span style="margin-left: 10px;">Spring Reddit Clone</span></a>
       </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-right: 150px;">

                <button type="button" class="btn btn-primary" style="width:100px;">SIGN UP</button>
                <button type="button" class="btn btn-outline-primary" style="width:100px; margin-left: 10px;"><span style="margin-top:100px;">LOGIN</span></button>
<!--                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
<!--                <button class="btn btn-outline-success" type="submit">Search</button>-->

    </div>
</nav>
